body {
    background-color: #FFEBCD;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3.5em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    background-color: #FFD79A;
    padding: 30px;
}

h4 {
    text-align: center;
    font-size: 1.3em;
}

.navigation {
    position: sticky;
    z-index: 1000;
    top: 0;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    background-color: #FFD79A;
}

.navigation li {
    float: right;
    border-left: 1px solid #FFAF34;
}

.navigation li:last-child {
  border-left: none;
}

.navigation li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.navigation li a:hover {
    background-color: #FFC367;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-text {
    font-size: 1.3em;
    text-align: center;
    line-height: 1.5em;
    width: 50%;
}

.equation {
    background-color: #FFD79A;
    font-weight: bold;
    padding: 20px;
}

#calculator {
    text-align: center;
    font-size: 1.2em;
}

#results {
    text-align: center;
    font-size: 1.2em;
}

.calculator-result, .message {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

button, input[type=submit] {
    background-color: #FFD79A;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

button:hover, input[type=submit]:hover {
    background-color: #FFC367;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

input[type=number], input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #FFD79A;
    border-radius: 8px;
    -moz-appearance: textfield;
}

input[type=number]:focus, input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #FF9B01;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding: 16px 20px;
    border: 3px solid #FFD79A;
    border-radius: 8px;
    background-color: #f1f1f1;
    font-size: 0.8em;
}

form {
    line-height: 2.5;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

#tdee_chart, #weight_chart {
  text-align: center;
  border: 20px solid #FFD79A;
  border-radius: 8px;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    padding: 3px;
    background-color: #FFD79A;
    color: black;
}

#login-footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

