<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/homePage.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <title>Steps TDEE Calculator</title>
</head>
<body>

    <div id="description">
        <h2>TDEE Calculator based on step count</h2>
        <br>
        <p>This is a TDEE (Total Daily Energy Expenditure) calculator.<br>
            It proposes an alternative way of using activity levels in the calculation.<br>
            Instead of using vaguely defined activity categories such as Sedentary, Active etc., it attemps to provide an estimate based on your daily step count and pace.<br>
            <br>
            The equation is simple:<br>
            Your TDEE = Your BMR (energy at rest) + the calories burned from your average daily step count.<br>
            <br>
            WARNING! This calculator and equation are NOT approved by any medical professional and should ONLY be used as a very general reference.<br>
            Please remember that your actual TDEE will very likely differ from the one suggested by this calculator.<br>
            <br>
            Please also note that this calculator will not suggest calorie intakes of less than 1200 calories.<br>
            <br>
        </p>
    </div>

    <div id="calculator">
        <form>
            Your age: <input type="number" id="age" name="age" required>
            <br>
            Your gender assigned at birth:
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label>
            <br>
            Your weight (kg): <input type="number" id="weight" name="weight" step="any" required>
            <br>
            Your height (cm): <input type="number" id="height" name="height" step="any" required>
            <br>
            Your average daily steps: <input type="number" id="stepCount" name="stepCount" required>
            <br>
            Your average pace (km/h): <input type="number" id="pace" name="pace" step="any" required>
            <br>
            <button onclick="test()">Calculate</button>
        </form>
    </div>

    <div id="results">
        Your BMR (energy you burn at rest): <br>
        Your average calories burned at your step count and pace: <br>
        Your TDEE: <br>
    </div>

</body>
</html>