<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/main/resources/static/css/pageStyle.css">
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <title>Login</title>
</head>
<body>
<div class="loginForm">
    <h2>Login:</h2>
    <br>
    <form th:action="@{/loginForm}" method="post">
        Username: <input type="text" id="username" name="username" required>
        <br>
        Password: <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Log in">
    </form>
    <br>
    <p th:if="${errorText}" th:text="${errorText}"></p>
    <br>
    <button type="button" th:onclick="|window.location.href='/registerForm'|">Create an account</button>
    <br>
    <button type="button" th:onclick="|window.location.href='/home'|">Go back</button>
</div>
</body>
</html>