<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <title>Register</title>
</head>
<body>
<div class="loginForm">
    <h2>Create an account:</h2>
    <br>
    <form th:action="@{/registerForm}" th:object="${newUser}" method="post">
        Username: <input type="text" id="username" name="username" th:field="*{username}" required>
        <br>
        Password (5 characters minimum): <input type="password" id="password" name="password" th:field="*{password}" minlength="5" required>
        <br>
        Current TDEE: <input type="text" id="tdee" name="tdee" th:field="*{currentTdee}" pattern="\d*" required>
        <br>
        Current BMR: <input type="text" id="bmr" name="bmr" th:field="*{bmr}" pattern="\d*" required>
        <br>
        Height [cm]: <input type="text" id="height" name="height" th:field="*{height}" pattern="\d*" required>
        <br>
        Weight [kg]: <input type="text" id="weight" name="weight" th:field="*{currentWeight}" pattern="\d*" required>
        <br>
        Age: <input type="text" id="age" name="age" th:field="*{age}" pattern="\d*" required>
        <br>
        Gender:
        <input type="radio" id="female" name="gender" th:field="*{gender}" value="F">
        <label for="female">Female&nbsp;</label>
        <input type="radio" id="male" name="gender" th:field="*{gender}" value="M">
        <label for="male">Male&nbsp;</label>
        <br>
        <input type="submit" value="Register">
    </form>
    <br>
    <br>
    <p th:if="${successText}">Registered successfully!</p>
    <p th:if="${errorText}" th:text="${errorText}"></p>
    <br>
    <button type="button" th:onclick="|window.location.href='/home'|">Go back</button>
</div>
</body>
</html>