<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/main/resources/static/css/pageStyle.css">
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:src="@{/js/charts.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var dates = /*[[${datesData}]]*/ [];
        var tdees = /*[[${tdeesData}]]*/ [];
    </script>
    <title>User Home Page</title>
</head>
<body>
    <div class="navigation">

        <ul>
            <li>
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit">Log out</button>
                </form>
            </li>
        </ul>
    </div>

    <br>

    <div class="description">
        <div class="description-text">
            <h4>Welcome, <span th:text="${username}"></span>!</h4>
            <h4>Your stats:</h4>
            Your current TDEE: <span class="calculator-result" th:text="${tdee}"></span><br>
            Your current BMR: <span class="calculator-result" th:text="${bmr}"></span><br>
            Your height: <span class="calculator-result" th:text="${height}"></span> cm<br>
            Your current weight: <span class="calculator-result" th:text="${weight}"></span> kg<br>
            Your age: <span class="calculator-result" th:text="${age}"></span><br>
            Your gender: <span class="calculator-result" th:text="${gender}"></span><br>
        </div>
    </div>

    <br>
    <h3></h3>

    <div class="calculator">
        <h4>Log new weight:</h4><br>
        <form th:action="@{/userHomePage/addWeight}" method="post">
            Weight [kg]: <input type="text" id="weight" name="weight" pattern="\d*" required>
            <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Log weight</button>
        </form><br>
        <h4>Adjust average steps:</h4><br>
        <form th:action="@{/userHomePage/adjustSteps}" method="post">
            Your average daily steps: <input type="number" id="steps" name="steps" required>
            <br>
            Your average pace (km/h): <select name="pace" id="pace">
            <option value="3.2" selected>3.2 km/h</option>
            <option value="4.8">4.8 km/h</option>
            <option value="6.4">6.4 km/h</option>
            <option value="8.0">8.0 km/h</option>
        </select>
            <br>
            The average time (minutes) it takes you to reach this step count: <input type="number" id="time" name="time" step="any" required>
            <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Adjust steps</button>
        </form><br>
    </div>

    <div id="tdee_chart"></div>

    <br>

    <footer>
        <p>Author: zciecielag</p>
    </footer>

</body>
</html>