<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" />
    <title>User Home Page</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
    </form>


    Welcome, <span th:text="${username}"></span>!<br>
    Your stats:<br>
    Your current TDEE: <span th:text="${tdee}"></span><br>
    Your current BMR: <span th:text="${bmr}"></span><br>
    Your height: <span th:text="${height}"></span><br>
    Your current weight: <span th:text="${weight}"></span><br>
    Your age: <span th:text="${age}"></span><br>
    Your gender: <span th:text="${gender}"></span><br>





</body>
</html>